@import url(https://use.fontawesome.com/releases/v5.5.0/css/all.css);
@import url(https://unpkg.com/flickity@2/dist/flickity.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 10px; /* margines strony wynosi 10px*/
  text-align: center; /*wyśrodkowanie zawartości strony*/
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
}
/* header - css */

.header {
  background-image: url("https://i.postimg.cc/nc6sGtkp/pic2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
}
.header2 {
  background-image: url("https://i.postimg.cc/Qt7WdYhq/pexels-tom-mal-k-2990848.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
}
.header3 {
  background-image: url("./images/pic3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
}

.menu_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  align-items: center;
  font-weight: bold;
  height: 15vh;
}

.page-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 10%;
  border-right: 3px solid #9e9e9e;
}

.page-menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18%;
}

.page-menu_list li {
  padding-right: 15px;
  padding-left: 15px;
}

.page-menu_list li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

/* Zmiana wyglądu po najechaniu */
.page-menu_list li a:hover {
  color: rgba(22, 75, 139, 1);
}

.burger {
  display: none;
  width: 5%;
  margin-right: 20px;
}

.burger div {
  background-color: white;
  width: 25px;
  height: 3px;
  margin-top: 3px;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  color: white;
  font-size: 2.5rem;
  font-size: 30px;
  text-shadow: 3px 3px 3px #130c0c4f;
}

.header-content h2 {
  font-variant: small-caps;
  width: 60%;
  font-size: 2rem;
}

.header-content button {
  padding: 25px 50px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  background-color: rgba(8, 23, 41, 0);
  border-radius: 5%;
  transition: 0.3s;
}

.header-content-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.header-content-newsletter form {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}
.header-content-newsletter form label {
  display: block;
  text-align: left;
  font-size: 20px;
}
.header-content-newsletter form input {
  width: 320px;
  padding: 5px;
  background-color: rgba(163, 163, 163, 0.5);
  border-radius: 5px;
}
.header-content-newsletter form textarea {
  width: 320px;
  height: 100px;
  padding: 5px;
  background-color: rgba(163, 163, 163, 0.5);
  border-radius: 5px;
}
.header-content-newsletter form button {
  display: block;
  margin: 10px 0;
  padding: 10px 15px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  background-color: rgba(8, 23, 41, 0);
  border-radius: 5%;
  transition: 0.3s;
}
#errorText {
  max-width: 300px;
  color: red;
}

.header-content-newsletter form button:hover {
  background-color: rgba(8, 23, 41, 0.5);
}
/* Zmiana wyglądu po najechaniu */
.header-content button:hover {
  background-color: rgba(8, 23, 41, 0.5);
}

@media screen and (max-width: 768px) {
  .page-logo {
    width: 20%;
  }

  .page-menu_list {
    position: absolute;
    right: 0;
    margin-top: 7.5vh;
    height: 85vh;
    width: 18%;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 3px solid black;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .menu_wrapper {
    flex-wrap: wrap;
  }

  .burger {
    display: block;
  }

  .header-content button {
    padding: 20px 40px;
  }

  .header-content {
    font-size: 1.5rem;
  }
}

.burger-active {
  transform: translateX(0%);
}

/* Main - css. Section "about us" */

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 50px;
  width: 90%;
  text-align: justify;
  font-size: 1.2rem;
}
.about h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.5rem;
}
.description {
  line-height: 30px;
  font-weight: 300;
  display: block;
  margin: 14px 0 0;
  font-size: 20px;
  text-align: center;
}

/* Why US*/

.why_us {
  min-height: 50vh;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container {
  display: flex;
  flex-direction: column;
}

.container h2 {
  text-align: center;
  margin-bottom: 100px;
}

.features-wrapper {
  display: flex;
  padding: 0 20px;
}
.features-wrapper > article {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  text-align: justify;
}

.features-wrapper > article > i {
  font-size: 50px;
  text-align: center;
}

.features-wrapper > article > h3 {
  text-align: center;
}

/* Section travel */

.travel_container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.travel_container > div {
  display: flex;
  justify-content: center;
}
.text-photo-box {
  margin: 50px 0;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.5rem;
}
.travel_description {
  width: 40%;
  text-align: justify;
  padding: 0 10px;
}
.travel_description h3 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.5rem;
}
.description2 {
  text-align: left;
  margin-left: 100px;
}
.travel_pic {
  width: 45%;
  padding-left: 5px;
}
.travel_pic a {
  display: block;
  padding: 10px;
}
.travel_pic a img {
  max-height: 45vh;
}
#myImg:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .text-photo-box {
    flex-direction: column-reverse;
    align-items: center;
  }
  .text-photo-box a {
    width: 100%;
  }

  .travel_description {
    width: 100%;
    margin-left: 10px;
  }
  .description2 {
    margin: 0 20px;
  }
  .travel_pic {
    width: 80%;
    padding-left: 5px;
  }
}
#map {
  border-radius: 10px;
}
figcaption {
  text-align: center;
}
/*TABELA*/
#table {
  width: 70%;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 50px;
}
tr {
  height: 50px;
  text-align: justify;
}
tr:hover {
  background-color: #fff9f4;
}
td {
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/*contact*/

.social-links li {
  display: inline-block;
  border: 1px solid;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 20px;
  transition: 0.2s;
}
.social-links li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
.social-links li:hover {
  /*kolor po najechaniu*/
  background: #ffffff;
}
.social-links li a:hover {
  /*kolor ikonki*/
  color: #c79538;
}

/*Footer*/

.footer {
  background: rgba(0, 0, 0, 1);
  color: white;
  height: 10vh;
  text-align: center;
  background: linear-gradient(#ffdcc6 0%, #c09a7b 100%);
  background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
}

/*Slider*/
.slider h2 {
  margin: 150px 0 0 0;
}
.opinions-wrapper {
  margin: 30px 0 100px 0;
}
.opinion blockquote {
  padding: 0 36px;
}
.opinion footer {
  margin: 10px 0 0 0;
}
.opinion {
  width: 100%;
  padding: 0 100px;
}
.flickity-page-dots .dot {
  /*kropki*/
  width: 20px;
  height: 20px;
  background-color: #c09a7b;
  border-radius: 10px;
}
.flickity-button-icon {
  fill: #ffffff;
  background-color: #c09a7b;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.personButton {
  padding: 5px;
  margin: 0 10px;
  font-weight: bold;
  background-color: rgba(8, 23, 41, 0);
  border-radius: 5%;
  transition: 0.3s;
}
